<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Julia Waraksa Thesis</title>
    <link rel="stylesheet" href="styles/index.css" />
    <link rel="stylesheet" href="styles/content.css" />
    <link rel="stylesheet" href="styles/footnotes.css" />
    <link rel="stylesheet" href="styles/images.css" />
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/markdown-it/dist/markdown-it.js"></script>
    <script src="https://unpkg.com/markdown-it-footnote@3.0.3/dist/markdown-it-footnote.js"></script>
    <script type="module" src="scripts/index.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- navigation bar -->
      <nav>
        <div class="progress" :style="{ width: `${Navigator.scrollProgress}%` }">
        </div>
      </nav>
      <header>
        {{ Navigator.currentChapterTitle }}
      </header>

      <!-- content pages -->
      <main>
        <article v-for="(chapter, index) in Content.chapters" :index="index">
          <span v-html="chapter.html"> </span>
        </article>
      </main>


      <!-- footnotes popup -->
        <footer @click="Footnotes.hideFootnote()">
          <div v-html="Footnotes.footnote.text">
          </div>
      </footer>
      <div id="footer-helper">
          <span v-html="Footnotes.footnote.text">
          </span>
      </div>

      <!-- image popup -->
      <section class="image-popup-overlay" v-if="Images.isVisible" @click="Images.hide()">
        <ul class="image-data">
            <li class="title">
                {{ Images.image.name }}
            </li>
            <li class="details" v-for="line in Images.image.text">
                {{ line }}
            </li>
        </ul>
      </section>
      <section class="image-popup" v-if="Images.isVisible" @click="Images.hide()">
        <img :src="Images.imageUrl">
      </section>


      <!-- application loading overlay -->
      <section class="loading-overlay" v-if="isLoading && showLoadingProgress">
        Loading ... 
      </section>
    </div>

  </body>
</html>
