<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Julia Waraksa Thesis</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/content.css">
    <link rel="stylesheet" href="styles/footnotes.css">
    <link rel="stylesheet" href="styles/images.css">
    <link rel="stylesheet" href="styles/gallery.css">
    <link rel="stylesheet" href="styles/tooltips.css">
    <link rel="stylesheet" href="styles/fonts.css">
    <link rel="stylesheet" href="styles/mobile.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/markdown-it/dist/markdown-it.js"></script>
    <script src="https://unpkg.com/markdown-it-footnote@3.0.3/dist/markdown-it-footnote.js"></script>
    <script type="module" src="scripts/index.js"></script>
  </head>

  <body>
    <div id="app">
      <!-- navigation bar -->
      <nav :style="{ visibility: Navigator.isCurrentChapterTitleVisible ? 'visible' : 'hidden' }">
        <div class="progress" :style="{ width: `${Navigator.scrollProgress}%` }">
        </div>
      </nav>

      <header :style="{ visibility: Navigator.isCurrentChapterTitleVisible ? 'visible' : 'hidden' }">
        <div class="two-columns">
          <div class="left">
            {{ Navigator.currentChapterTitle }}
          </div>
        </div>
      </header>

      <!-- content pages -->
      <main>
        <article v-for="(chapter, index) in Content.chapters" class="chapter" :class="Content.getCustomClass(index)" :index="index">
          <div class="chapter-text" v-html="chapter.text"> </div>
          <div class="chapter-footnotes" :id="`chapter-${index}-footnotes`" v-if="Footnotes.chapterHasFootnotes(index)">
            <ul>
              <li v-for="footnote in Footnotes.getChapterFootnotes(index)" @click="Footnotes.backToLink(footnote)">
                <span class="number">{{ footnote.number }}.</span>
                <span v-html="footnote.text"></span>
              </li>
            </ul>
          </div>
        </article>
      </main>

      <!-- image popup -->
      <section class="image-popup-overlay" v-if="Images.isVisible" @click="Images.hide()">
        <ul class="image-data">
            <li class="title">
                {{ Images.image.name }}
            </li>
            <li class="details" v-for="line in Images.image.text">
                {{ line }}
            </li>
        </ul>
      </section>

      <section class="image-popup" v-if="Images.isVisible" @click="Images.hide()">
        <img :src="Images.imageUrl">
      </section>


      <!-- application loading overlay -->
      <section class="loading-overlay" v-if="isLoading && showLoadingProgress">
          Loading ...
      </section>
      <!-- tooltip popup -->
      <section class="tooltip" :style="Tooltips.tooltipStyle">
        <div v-html="Tooltips.tooltip"></div>
      </section>

    </div>

  </body>
</html>
