.chapter {
  display: flex;
  flex-direction: column;
  padding: 2% 20% 10% 20%;
}

.chapter .no-padding {
  padding: 7.5% 0 7.5% 0;
}

.chapter .full-height {
  min-height: 95vh;
}

.chapter.full-height {
  min-height: 95vh;
}

.chapter .half-height {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chapter.center {
  flex-direction: column;
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Chapter separator line, on top */
.chapter.separator {
  background-image: linear-gradient(var(--black), var(--black));
background-repeat: no-repeat;
background-size: 97.25% 1px, calc(90% - 1px) 100%;
background-position: bottom  , 4px 0;
}


/* Chapter text container **/
.chapter-text {
  display: flex;
  flex-direction: column;
}

/* Quotes inside chapter text */
.chapter .quote {
  padding: 25px 90px 25px 90px;
}

/* Column layouts inside chapters */
.chapter .column {
  flex: 1;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chapter .two-columns {
  flex: 1;
  flex-basis: 100%;
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.chapter .vertical-align {
  justify-content: center;
  align-items: center;
}

.chapter .two-columns .left,
.chapter .two-columns .right {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0;
  padding-left: 1%;
}

/* Images inside chapters */
.chapter img {
  max-width: 100%;
  max-height: 100%;
  flex: 1;
  padding: 0 0 2.5% 0;
  align-self: center;
}

.chapter .img-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 5% 10% 5% 10%;
  object-fit: contain;
}

.chapter .img-caption {
  padding: 0 100px 0 0;
  font-size: 10pt;
  line-height: 13pt;
  font-family: 'ITC Mendoza Roman', Times, serif;
  margin: 0;
  padding: 0;
}

.chapter .full-width-img {
  flex: 1;
  background-size:cover; 
  background-image: url(../content/images/04-babyn-yar-map.jpg);
}

.chapter .padding {
  padding: 5% 20% 5% 20%;
}

/* Amended styling for mobile browsers */
@media (max-width: 960px) {

  .chapter .column {
    width: 100%;
  }

  .chapter .two-columns {
    flex-direction: column;
  }

}
