/* General typography */
@font-face {
  font-family: 'ITC Mendoza Roman';
  src: url('../fonts/MendozaRoman-Book.woff2') format('woff2'),
      url('../fonts/MendozaRoman-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Mendoza Roman Italic';
  src: url('../fonts/MendozaRoman-BookItalic.woff2') format('woff2'),
      url('../fonts/MendozaRoman-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Serapion OSF';
  src: url('../fonts/SerapionOSF.woff2') format('woff2'),
      url('../fonts/SerapionOSF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Serapion Italic';
  src: url('../fonts/Serapion-Italic.woff2') format('woff2'),
      url('../fonts/Serapion-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'ITC Mendoza Bold';
  src: url('../fonts/MendozaRoman-Bold.woff2') format('woff2'),
      url('../fonts/MendozaRoman-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'CharterITC Italic';
  src: url('../fonts/CharterITC-Italic.woff2') format('woff2'),
      url('../fonts/CharterITC-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'CharterITC';
  src: url('../fonts/CharterITC-Regular.woff2') format('woff2'),
      url('../fonts/CharterITC-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FT Kunst Grotesk Italic';
  src: url('../fonts/FTKunstGrotesk-RegularItalic.woff2') format('woff2'),
      url('FTKunstGrotesk-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'FT Kunst Grotesk';
  src: url('../fonts/FTKunstGrotesk-Regular.woff2') format('woff2'),
      url('../fonts/FTKunstGrotesk-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FT Kunst Grotesk Black';
  src: url('../fonts/FTKunstGrotesk-Black.woff2') format('woff2'),
      url('../fonts/FTKunstGrotesk-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'FT Kunst Grotesk Bold';
  src: url('../fonts/FTKunstGrotesk-Bold.woff2') format('woff2'),
      url('../fonts/FTKunstGrotesk-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}








/* https://fluidtypography.com/#app-get-started */

html, body {
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */
  font-family: 'FT Kunst Grotesk', Helvetica, sans-serif;
  font-size: 16.85px;
  line-height: 21.75px;
  font-weight: normal;
  color:var(--black);
}

html, body b {
  font-family: 'FT Kunst Grotesk';
}

html, body a {
  text-decoration: none;
  color: var(--black);
}


h1 {
  font-size: 16.85px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;
  letter-spacing: 0.02em;
  text-align: center;
  line-height: 0;
  margin-bottom: 25px;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 2px;
  padding-right: 2px;
  /* border-top: 1.15px solid black;
  border-bottom: 1.15px solid black; */
}

h2 {
  font-size: 17px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;
  text-align: center;
  
}

h5 {
  font-size: 35px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;


  line-height: 600px;
  letter-spacing: 0.015em;
  color: black;
  margin: 0;
}

h6 {
  font-size: 80px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;
  padding-top: 50px;
  line-height: 200px;
  letter-spacing: -0.015em;
  color: black;
  margin: 0;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}


@media (max-width: 600px) {

h5 {
  font-size: 35px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;
  line-height: 650px;
  letter-spacing: 0.015em;
  color: black;
  margin: 0;
}


h6 {
  font-size: 90px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;
  padding-top: 150px;
  line-height: 100px;
  padding-bottom: 100px;
  letter-spacing: -0.015em;
  color: black;
  opacity: 1;
  margin: 0;
}

}