/* General typography */
@font-face {
  font-family: 'ITC Mendoza Roman';
  src: url('../fonts/MendozaRoman-Book.woff2') format('woff2'),
      url('../fonts/MendozaRoman-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Neue';
  src: url('../fonts/SuisseNeue-Regular.woff2') format('woff2'),
      url('../fonts/SuisseNeue-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Works';
  src: url('../fonts/SuisseWorks-Book.woff2') format('woff2'),
      url('../fonts/SuisseWorks-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Works Italic';
  src: url('../fonts/SuisseWorks-BookItalic.woff2') format('woff2'),
      url('../fonts/SuisseWorks-BookItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Serapion OSF';
  src: url('../fonts/SerapionOSF.woff2') format('woff2'),
      url('../fonts/SerapionOSF.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Serapion';
  src: url('../fonts/Serapion-Italic.woff2') format('woff2'),
      url('../fonts/Serapion-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}



/* https://fluidtypography.com/#app-get-started */

html, body {
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; */
  font-family: 'ITC Mendoza Roman', Times, serif;
  font-size: 16.85px;
  line-height: 21.75px;
  font-weight: normal;
  letter-spacing: -0.005em;
  color:var(--black);
}

html, body a {
  text-decoration: none;
  color: var(--black);
}


h1 {
  font-family: 'ITC Mendoza Roman', Times, serif;
  text-transform: uppercase;
  font-size: 16.5px;
  font-weight: normal;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 0;
  margin-bottom: 25px;
}

h2 {
  font-family: 'ITC Mendoza Roman', Times, serif;
  font-size: 17px;
  font-weight: normal;
}

h5 {
  font-size: 20px;
  font-family: 'ITC Mendoza Roman', Times, serif;
  font-weight: normal;
  margin: 0;
  line-height: 28px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.sans-serif {
  font-family: Arial, Helvetica, sans-serif;
}

