/* Hide standard rendering of footnote links and texts */
.footnotes,
.footnotes-sep,
.footnote-backref {
  display: none;
}

.footnote-ref {
  line-height: 0.5;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;
}

/* Footnotes container under the chapter */
.chapter-footnotes {
  padding: 0;
  margin: 0;
}

/* List of footnotes */
.chapter-footnotes ul {
  list-style: none;
  padding: 0;
}

/* Single footnote */
.chapter-footnotes li {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.chapter-footnotes a {

}






/* Footnote number */
.chapter-footnotes li .number {
  font-size: 11.5px;
  font-family: 'FT Kunst Grotesk Bold';
  font-weight: bold;

}


.chapter-footnotes li .number:hover {
  cursor: alias;
}

/* Footnote text */
.chapter-footnotes p {
  padding: 0 0 0 20px;
  line-height: 1.2;
  display: inline-block;
  font-size: 13.5px;
  line-height: 1.2;
  font-family: 'FT Kunst Grotesk';
  font-weight: normal;
  margin: 0;

}

.chapter-footnotes p:hover {
  cursor: alias;
  opacity: 0.5;
}

/* Amended styling for mobile browsers */
@media (max-width: 960px) {

  /* Footnote text */
.chapter-footnotes p {
  padding: 0;
  display: inline-block;
  font-size: 13.5px;
  line-height: 16px;
  font-family: 'FT Kunst Grotesk';
  font-weight: normal;
  margin: 0;
}

}