/* Hide standard rendering of footnote links and texts */
.footnotes,
.footnotes-sep,
.footnote-backref {
  display: none;
}

/* Footnote link */
.footnote-ref a {
  text-decoration: none;
  font-weight: bold;
  color: var(--black);
  font-family: 'ITC Mendoza Roman', Times, serif;
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.footnote-ref a:hover {
  color: var(--interactive);
}

  

.footnote-ref {
  line-height: 0.5;
}

/* Footnotes container under the chapter */
.chapter-footnotes {
  padding: 0;
  margin: 0;
}

/* List of footnotes */
.chapter-footnotes ul {
  list-style: none;
  padding: 0;
}

/* Single footnote */
.chapter-footnotes li {
  display: flex;
  flex-direction: row;
  margin-bottom: 16px;
  cursor: pointer;
}


.chapter-footnotes a {
  color:var(--black);
  text-decoration: none;
}

.chapter-footnotes a:hover {
  color:var(--interactive);
}

/* Footnote number */
.chapter-footnotes li .number {
  font-size: 10pt;
  line-height: 13pt;
  font-family: 'ITC Mendoza Roman', Times, serif;
  margin-right: 8px;
  padding: 0 20px 0 60px;
}

/* Footnote text */
.chapter-footnotes p {
  padding: 0 100px 0 0;
  display: inline-block;
  font-size: 11pt;
  line-height: 13pt;
  font-family: 'ITC Mendoza Roman', Times, serif;
  margin: 0;
}
