/* Gallery container */
.gallery {
  height: 55vh;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  
}

/* Image container */
.gallery main {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 1;
}


.gallery main:hover {
  cursor: pointer;
}

/* Left click container */
/* Right click container */
.gallery .left,
.gallery .right {
  flex: 1;
  cursor: pointer;
  position: relative;
}

/* Image label on the bottom */
.gallery footer {
  flex: 0;
  text-align: left;
  padding: 0;
  font-size: 10pt;
  line-height: 13pt;
  font-family: 'ITC Mendoza Roman', Times, serif;
  margin: 0;
}


.gallery .reveal {
}

/* Transition of images shown/hidden */
.gallery main.reveal {
  animation-name: 'image-reveal';
  animation-duration: 0.1s;
}

.gallery main.hide {
  animation-name: 'image-hide';
  animation-duration: 0.1s;
}

@keyframes image-reveal {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes image-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.5;
  }
}
