/* Gallery container */
.gallery {
    height: 54vh;
  display: flex;
  flex-direction: column;
  visibility: hidden;
  cursor: pointer;
  
}

.gallery-visual-essay {
  height: 60vh;
}


.gallery-map {
  height: 75vh;

}


/* Image container */
.gallery main {
  flex: 1;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  opacity: 1;
}


.gallery:hover {
  cursor: pointer;
  transition: .3s;
  animation: both;
}

/* Left click container */
/* Right click container */
.gallery .left,
.gallery .right {
  flex: 1;
  cursor: pointer;
  position: relative;
}

/* .gallery .left {
  background-color: transparent;
}


.gallery .left:hover {
  background-color: white;
  transition: .2s;
  opacity: .2;
}
.gallery .right {
  background-color: transparent;
}

.gallery .right:hover {
  background-color: white;
  transition: .2s;
  opacity: .2;
} */

/* Image label on the bottom */
.gallery footer {
  flex: 0;
  text-align: center;
  padding: 0;
  padding-top: 20px;
  font-size: 10pt;
  line-height: 13pt;
  font-family: 'ITC Mendoza Roman', Times, serif;
  margin: 0;
  z-index: 9999;
}


.gallery .reveal {

}

/* Transition of images shown/hidden */
.gallery main.reveal {
  animation-name: 'image-reveal';
  animation-duration: 0.4s;
}

.gallery main.hide {
  animation-name: 'image-hide';
  animation-duration: 0.4s;
}

@keyframes image-reveal {
  0% {
    opacity: 0.85;
  }

  100% {
    opacity: 1;
  }
}

@keyframes image-hide {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.85;
  }
}



/* Amended styling for mobile browsers */
@media (max-width: 600px) {
  .gallery {
    height: 35vh;
  }
 
  
  .gallery-visual-essay {
    height: 30vh;
    margin-top: 30px;
  }
  .gallery footer {
    margin-top: -30px;
  }
}