/* Figure link */
a[href="#figure"] {
  margin: 0;
  color: var(--black);
  /* margin: 0 2px 0 2px;
  padding: 0 4px 0 4px; */
  cursor: pointer;
  border-bottom: 1px solid var(--black);
  /*text-decoration: none; */
}

a[href="#figure"]:hover {
  color: var(--interactive);
  /* border-top: 1px solid var(--interactive);*/
  border-bottom: 1px solid var(--interactive);
  text-decoration: none;
  cursor: pointer;
}

/* Image overlay */
.image-popup-overlay {
  position: absolute;
  z-index: 10000000;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: white;
  opacity: 1;
  cursor: pointer;
}

/* Image popup */
.image-popup {
  position: absolute;
  z-index: 10000001;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.image-popup img {
  max-width: 75vw;
  max-height: 75vh;
}

.image-data {
  margin: 0;
  padding: 8px;
  padding-left: 20px;
  padding-top: 25px;
  list-style: none;
  width: 19%;
  font-size: 10pt;
  line-height: 13pt;
  font-family: 'ITC Mendoza Roman', Times, serif;
}

.image-data .title {
  padding-bottom: 22px;
}

.image-data .details {
  padding-bottom: 20px;
}

@media (max-width: 600px) {
  .image-data {
   text-align: center;
   padding-top: 23px;
   padding-right: 15px;
   padding-left: 15px;
   width: 100%;
  }
  .image-popup img {
  align-self: flex-end;
  padding-bottom: 30px;
  }
}