a[href="#tooltip"] {
  color: var(--black);
  text-decoration: none;
  background-color: rgb(231, 231, 231);
}

a[href="#tooltip"]:hover {
  color: var(--black);
  cursor: pointer;
  background-color: white;
}