a[href="#tooltip"] {
  color: var(--black);
  text-decoration: none;
  background-color: rgb(231, 231, 231);
}

a[href="#tooltip"]:hover {
  color: var(--black);
  cursor: help;
  background-color: white;
}

.tooltip {
  position: absolute;
  padding: 1px 5px 1px 5px;
  background-color: rgb(231, 231, 231);
  border: gray;
  max-width: 400px;
  /* box-shadow: 0 0 5px white; */
  /* border-radius: 7px; */
  /* transition: opacity 0.1s ease-out; */
}

@media (max-width: 600px) {

  .tooltip {
  max-width: 200px;
  }

  
}